/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* regole header */

.head2{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    font-size: 18px;
    background-color: rgb(255, 149, 10);
    width: 100%;
    padding: 15px 0px;
}
.header{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 15%;
    padding: 10px;
    gap: 15px;
    
}
a{
    text-decoration: none;
    color: white;
}
.header2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.logo{
    height: 40px;
}

.login{
    display: flex;
    align-content: center;
    justify-content: end;
    align-items: center;
    
}
.accedi{
    display: flex;
    gap: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
/* regole main */

.sfondo2{
    display: flex;
    justify-content: center;
}
.sfondo{
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: space-around;
    width: 75%;
    padding-bottom: 5%;
}

.prodotto{
    width: 32%;
    position: relative;
}
.img{
    width: 100%;
    padding-top:15%;
    
}
.sconto{
    color: red;
}
.discount{
    font-size: 18px;
    background-color: red;
    padding: 3px 5px;
    position: absolute;
    left: 0;
    bottom: 90px;
    color: white;
    z-index: 10;
}
.sostenibilita{
    font-size: 18px;
    background-color: rgb(0, 177, 0);
    padding: 3px 5px;
    position: absolute;
    left: 60px;
    bottom: 90px;
    color: white;
    z-index: 10;
}
.esprit{
    left: 0;
}
.cuore{
    font-size: 28px;
    background-color: white;
    padding: 0px 9px;
    position: absolute;
    right: 0;
    top: 68px;
    color: black;
    z-index: 10;
}
.prodotto:hover .fotob{
    display: block;
}
    
.fotob{
    position: absolute;
    top: 0;
    z-index: 8;
    display: none;
}

/* regole immagini */

/* regole footer */
.black{
    display: flex;
    justify-content: space-around;
    background-color: black;
    gap: 9%;
    align-items: center;
    width:100%;
    font-size: 27px;
    padding: 20px 0px;
    color: white;
}
.infor{
    font-size: 15px;
    padding: 20px 0px;
}
.icons{
    display: flex;
    font-size: 30px;
    gap: 15px;
}